In [4]:
import findspark
findspark.init("/Users/Jean/spark-2.4.4-bin-hadoop2.7")
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [6]:
df = spark.read.csv("sales_info.csv", inferSchema=True, header=True)

In [8]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [27]:
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [13]:
df.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [15]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [18]:
df.agg({"Sales": "max"}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [21]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [26]:
df.select(avg("Sales").alias("average")).show()
df.select(countDistinct("Sales").alias("distinct")).show()

+-----------------+
|          average|
+-----------------+
|360.5833333333333|
+-----------------+

+--------+
|distinct|
+--------+
|      11|
+--------+